/* 	http://paletton.com/#uid=13G0u0kj1cxdcccgrgiuyeUdIad
	http://paletton.com/#uid=13T0u0kcRat99gwbXjIjeev8zbr */

/*-----------*/ /*-----DEFAULT-----*/ /*-----------*/

html, body, div, header, nav, ul, li, a, h1, h2, textarea, input{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font-family: Alegreya;
	letter-spacing: -0.02em;
	vertical-align: baseline;
}

/*-----------*/ /*-----PAGE-----*/ /*-----------*/

html, body{
	height: 100%;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	background: #252839;
}

/*-----------*/ /*-----HEADER-----*/ /*-----------*/

header {
	width: 100%;
	height: 100px;
	position: fixed;
	background: #6a7082;
	border-bottom: 3px solid #a9a9a9;
	z-index: 1;
}

/*------main logo-----*/
#logo {
	position: absolute;
	top: 1.2em;
	left: 10em;
}

#logo a{
	position: relative;
	text-decoration: none;
	font-size: 2.8em;
	display: inline-block;
	color: #a9a9a9;
	
	-webkit-transition: color 0.25s ease-in-out;
	text-shadow: 0.05em 0.05em 0.1em #404040;
}

#logo a:hover {
	color: #363b53;
}

.gitlink {
	left: 0.2em;
	bottom: -10px;
	width: 0.95em;
}

/*------navigation menu-----*/
#nav {
	position: absolute;
	top: 1.3em;
	right: 8em;
}

#nav ul li {
	display: inline-block;
	position: relative;
	margin: 0.4em;
	list-style: none;
	width: 120px;
}

#nav ul li a {
	text-align: center;
	display: block;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: none;
	padding: 0.9em 1.4em;
	border: 0.2em solid #a9a9a9;
	background: #252839;
	
	-webkit-box-shadow: 0.3em 0.3em 0.6em 0.1em #404040;

	/* transitions */
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

#nav ul li a:hover {
	border-color: #252839;
	background: #a9a9a9;
	color: #252839;
}

#nav ul li.selected a {
	border-color: #252839;
	background-color: #d9d9d9;
	color: #252839;
}

/*-----------*/ /*-----HOME PAGE CONTENT-----*/ /*-----------*/

#main-content-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 100px;
	padding-bottom: 1.5em;
}

#profile-pic {
	float: right;
	padding: 0.3em;
	width: 300px;
	margin-top: 2em;
	margin-right: 7em;
	text-align: center;
}

#profile-pic img {
	border: 0.3em solid #a9a9a9;
	border-radius: 100%;
	width: 95%;
}

#main-content-wrapper article {
	background: #c9c9c9;
	border: 1px solid #a9a9a9;
	box-shadow: 0.6em 0.6em 0.4em -0.3em #696969;
}

#first-about-me {
	width: 55%;
	display: inline-block;
	padding-bottom: 1.2em;
	overflow: hidden;
	margin: 3% 3% -0.2% 3%;
}

#second-about-me {
	width: 92%;
	display: inline-block;
	padding-bottom: 1.2em;
	margin: 3% 3% -0.2% 3%;
}

#main-content-wrapper article h1 {
	margin: 0.5em;
	padding: 0.5em;
	padding-bottom: 0;
}

#main-content-wrapper article h2 {
	letter-spacing: 0.01em;
	font-size: 1.8em;
	color: #a1a1a1;
	padding: 0 0.5em;
	margin: 0.2em;
	text-shadow:
   -1px -1px 0 #888,  
    1px -1px 0 #888,
    -1px 1px 0 #ddd,
     1px 1px 0 #ddd;
}

#main-content-wrapper article h2 span {
	font-size: 1.2em;
}

#main-content-wrapper article p {
	margin: 0.5em;
	padding: 0.5em;
}

/*-----------*/ /*-----PROJECT PAGE CONTENT-----*/ /*-----------*/

#main-content-wrapper.projects {
	width: 80%;
	left: 10%;
	margin-bottom: 100px;
}

.collapse-header, .collapse-panel {
	padding: 1em;
}

.collapse-header {
	background: #c9c9c9;
	border: 0.1em solid #a9a9a9;
	cursor: pointer;
	
	/* transitions */
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.collapse-header:hover , .collapse-header.selected{
	background: #a9a9a9;
}

.collapse-header h1 {
	color: #252839;
	font-style: italic;
}

.collapse-header h1:after {
	content: "\02795";
	font-style: normal;
	float: right;
	font-size: 0.8em;
}

.collapse-header.selected h1:after {
	content: "\02796";
}

.collapse-panel {
	border: 0.1em solid #a9a9a9;
	background: #6a7082;
	color: #c9c9c9;
	display: none;
	overflow: hidden;
}

.download {
	margin-top: 2em;
	width: 150px;
	float: right;
}

.download-link {
	text-align: center;
	display: block;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: none;
	padding: 0.5em;
	border: 0.1em solid #a9a9a9;
	border-radius: 4px;
	background: #cd220d;
	
	-webkit-box-shadow: 0.1em 0.1em 0.6em 0.1em #404040;
	
	/* transitions */
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.download-link:hover {
	border-color: #cd220d;
	background: #a9a9a9;
	color: #cd220d;
}

/*-----------*/ /*-----CONTACT PAGE CONTENT-----*/ /*-----------*/

#main-content-wrapper.contact {
	width: 90%;
	left: 5%;
	top: 5%;
	padding-top: 1.4em;
}

#contact-form {
	width: 80%;
	margin: 3em auto;
	padding: 0.4em;
	background: #c9c9c9;
	border: 1px solid #a9a9a9;
	box-shadow: 0.6em 0.6em 0.4em -0.3em #696969;
}

#contact-form legend {
	font-weight: 800;
}

#contact-form fieldset {
	margin-bottom: 1em;
	border: none;
}

fieldset#submit-button {
	text-align: center;
}

#contact-form textarea {
	width: 95%;
	height: 100px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
	padding: 0.5em;
	border: 1px solid #a9a9a9;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form textarea:hover {
	border: 1px solid black;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
	border: 1px solid black;
	outline: none;
}

#contact-form input[type="text"] {width: 9em;}
#contact-form input[type="email"] {width: 19.5em;}

#contact-form input[type="submit"] {
	background: #999999;
	border: none;
	width: 10em;
	padding: 1em;
	
	color: #c9c9c9;
	font-weight: bold;
	padding: 0.9em 1.4em;
	background: #252839;
	cursor: pointer;
	
	/* transitions */
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

#contact-form input[type="submit"]:hover {
	background: #424866;
}

#contact-form input[type="submit"]:focus {
	outline: none;
}

/*-----------*/ /*-----OTHER SCREEN SIZES-----*/ /*-----------*/

@media(max-width: 1230px) {
	#logo {left: 4em;}
	#nav {right: 3em;}
	#profile-pic {width: 240px; margin-top: 3em}
	#first-about-me {width: 58%;}
}

@media(max-width: 1050px) {
	header {height: 150px;}
	
	#logo {
		position: absolute;
		top: 0.3em;
		left: 0;
		width: 100%;
		text-align: center;
	}
	
	#nav {
		position: absolute;
		text-align: center;
		top: 4.4em;
		right: 0em;
		width: 100%;
	}
	
	#profile-pic {
		margin: 1.4em 0 0 0;
		width: 100%;
	}
	#profile-pic img {width: 30%;}
	
	#first-about-me {
		margin-top: 1.4em;
		width: 92%;
	}
}

@media(max-width: 580px) {
	header {height: 120px;}
	#logo {font-size: 0.9em;}
	.gitlink img {height: 45px;}
	#nav {top: 3.8em;}
	#nav ul li {width: 90px; margin: 0.2em;}
	#nav ul li a {font-size: 0.9em;	padding: 0.7em 0.5em;}
	#profile-pic img {width: 40%}
	#contact-form {text-align: center;}
	#contact-form legend {margin: auto;}
}

@media(max-width: 509px) {
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form textarea {
		width: 90%;
		margin: 0.1em;
	}
}

@media(max-width: 414px) {
	header {height: 170px;}
	#nav ul li {width: 125px;}
	#profile-pic img {width: 55%}
	article h2 {text-align: center;}
}