/* 	http://paletton.com/#uid=13G0u0kj1cxdcccgrgiuyeUdIad
	http://paletton.com/#uid=13T0u0kcRat99gwbXjIjeev8zbr */

/*-----------*/ /*-----DEFAULT-----*/ /*-----------*/

html, body, div, header, nav, ul, li, a, h1{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font-family: Garamond;
	vertical-align: baseline;
}

/*-----------*/ /*-----PAGE-----*/ /*-----------*/

html, body{
	height: 100%;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	background: #252839;
}

/*-----------*/ /*-----HEADER-----*/ /*-----------*/

header {
	width: 100%;
	height: 100px;
	position: fixed;
	background: #677077;
	border-bottom: 3px solid #a9a9a9;
	z-index: 1;
}

/*------main logo-----*/
#logo {
	position: absolute;
	top: 1.2em;
	left: 10em;
}

#logo a{
	position: relative;
	text-decoration: none;
	font-size: 2.8em;
	display: inline-block;
	color: #a9a9a9;
	
	-webkit-transition: color 0.25s ease-in-out;
	text-shadow: 0.05em 0.05em 0.4em #404040;
}

#logo a:hover {
	color: #252839;
}

.gitlink {
	left: 0.2em;
	bottom: -10px;
	width: 0.95em;
}

/*------navigation menu-----*/
#nav {
	position: absolute;
	top: 1.3em;
	right: 8em;
}

#nav ul li {
	display: inline-block;
	position: relative;
	margin: 0.4em;
	list-style: none;
	width: 120px;
}

#nav ul li a {
	text-align: center;
	display: block;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: none;
	padding: 0.9em 1.4em;
	border: 0.2em solid #a9a9a9;
	background: #252839;
	
	-webkit-box-shadow: 0.3em 0.3em 0.6em 0.1em #404040;

	/* transitions */
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

#nav ul li a:hover {
	border-color: #252839;
	background: #a9a9a9;
	color: #252839;
}

#nav ul li.selected a {
	border-color: #252839;
	background-color: #d9d9d9;
	color: #252839;
}

/*-----------*/ /*-----HOME PAGE CONTENT-----*/ /*-----------*/

#main-content-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 100px;
}

#profile-pic {
	float: right;
	padding: 0.3em;
	width: 300px;
	margin-top: 2em;
	margin-right: 7em;
	text-align: center;
}

#profile-pic img {
	border: 0.3em solid #a9a9a9;
	border-radius: 100%;
	width: 95%;
}

#main-content-wrapper article {
	background: #969696;
	border: solid black 1px;
	margin: 3% 3% -0.2% 3%;
	box-shadow: 0.6em 0.6em 0.4em -0.3em #696969;
}

#main-content-wrapper article:nth-child(2) {
	width: 55%;
	display: inline-block;
	padding-bottom: 1.2em;
	overflow: hidden;
}

#main-content-wrapper article:nth-child(3){
	width: 92%;
	display: inline-block;
	margin-bottom: 5%;
	padding-bottom: 1.2em;
}

#main-content-wrapper article h1 {
	margin: 0.5em;
	padding: 0.5em;
	padding-bottom: 0;
}

#main-content-wrapper article p {
	margin: 0.5em;
	padding: 0.5em;
}

/*-----------*/ /*-----PROJECT PAGE CONTENT-----*/ /*-----------*/

#main-content-wrapper.projects {
	width: 80%;
	left: 10%;
	top: 180px;
	margin-bottom: 100px;
}

.collapse-header, .collapse-panel {
	padding: 1em;
}

.collapse-header {
	background: #c9c9c9;
	border: 1px solid black;
	cursor: pointer;
}

.collapse-header:hover , .collapse-header.selected{
	background: #a9a9a9;
}

.collapse-header h1 {
	
}

.collapse-header h1:after {
	content: "\02795";
	float: right;
	font-size: 0.8em;
}

.collapse-panel {
	border: 1px solid black;
	background: #c9c9c9;
	opacity: 0;
	display: none;
	max-height: 0;
	overflow: hidden;
	
}

.collapse-panel.show {
	opacity: 1;
	display: block;
	max-height: 200px;
}

/*-----------*/ /*-----OTHER SCREEN SIZES-----*/ /*-----------*/

@media(max-width: 1230px) {
	#logo {left: 4em;}
	#nav {right: 3em;}
	#profile-pic {width: 240px; margin-top: 3em}
	#main-content-wrapper article:nth-child(2) {width: 58%;}
}

@media(max-width: 1050px) {
	header {height: 140px;}
	
	#main-content-wrapper {top: 140px;}
	
	#logo {
		position: absolute;
		top: 0.3em;
		left: 0;
		width: 100%;
		text-align: center;
	}
	
	#nav {
		position: absolute;
		text-align: center;
		top: 4.4em;
		right: 0em;
		width: 100%;
	}
	
	#profile-pic {
		margin: 1.4em 0 0 0;
		width: 100%;
	}
	#profile-pic img {
		width: 30%;
	}
	
	#main-content-wrapper article:nth-child(2) {
		margin-top: 1.4em;
		width: 92%;
	}
}